---
import type { Channel, Show } from "./types";
import Listing from "./Listing.astro";

export interface Props {
  channel?: Channel;
}

const halfHourWidth = "150px";
const { channel } = Astro.props as Props;
var listings: Array<Show> = [];
var timeSlots: Array<String> = [];
if (channel && channel.listings) {
  listings = channel.listings;
} else {
  for (let hour = 0; hour < 24; hour++) {
    for (let minute = 0; minute < 60; minute += 30) {
      const formattedHour = hour == 0 || hour == 12 ? "12" : hour >= 12 ? String(hour-12) : String(hour);
      const formattedMinute = String(minute).padStart(2, "0");
      const ampm = hour < 12 ? "am" : "pm";
      timeSlots.push(`${formattedHour}:${formattedMinute} ${ampm}`);
    }
  }
}
var shouldDisplayImage =
  channel && channel.short_name === "WTTWDT" ? true : false;
---

{
  !channel && (
    <li>
      <ol class="channel">
        <div class="channel-name" />
        {timeSlots.map((timeSlot) => (
          <li class={"minutes-30"}>
            <div class="time">{timeSlot}</div>
          </li>
        ))}        
      </ol>
    </li>
  )
}
{
  channel && (
    <li>
      <ol class="channel">
        <div class="channel-name">{channel.full_name}</div>
        {listings.map((show) => (
          <li class={"minutes-" + show.minutes}>
            <Listing listing={show} displayImage={shouldDisplayImage} />
          </li>
        ))}
      </ol>
    </li>
  )
}
<style define:vars={{ halfHourWidth }}>
  .channel {
    display: flex;
    /* outline: solid 1px black; */
    outline: none;
    padding: 0;
    list-style: none;

    > li {
      outline: solid 1px black;
      padding: 0;
      list-style: none;
    }
  }

  .time {
    padding: .5rem;
  }

  .channel-name {
    min-width: var(--halfHourWidth);
  }

  .minutes-5 {
    min-width: calc(var(--halfHourWidth) / 6);
  }
  .minutes-10 {
    min-width: calc(var(--halfHourWidth) / 3);
  }
  .minutes-15 {
    min-width: calc(var(--halfHourWidth) / 2);
  }
  .minutes-30 {
    min-width: calc(var(--halfHourWidth) * 1);
  }
  .minutes-60 {
    min-width: calc(var(--halfHourWidth) * 2);
  }
  .minutes-90 {
    min-width: calc(var(--halfHourWidth) * 3);
  }
  .minutes-120 {
    min-width: calc(var(--halfHourWidth) * 4);
  }
  .minutes-180 {
    min-width: calc(var(--halfHourWidth) * 5);
  }
</style>
