---
import type { Channel, Show } from "./types";
import Listing from "./Listing.astro";

export interface Props {
  channel?: Channel;
}

const { channel } = Astro.props as Props;
const minuteClasses: Array<Number> = [5,10,15,30,60,90,120,150,180];

var listings: Array<Show> = [];
var timeSlots: Array<String> = [];  
var startOffset = "";
if (channel && channel.listings) {
  listings = channel.listings;

  // make sure first show start time is "0000"
  if (listings[0] && listings[0].start_time !== "0000") {
    startOffset = "offset-minutes-" + Number(listings[0].start_time);
  }
} else {
  for (let hour = 0; hour < 24; hour++) {
    for (let minute = 0; minute < 60; minute += 30) {
      const formattedHour = hour == 0 || hour == 12 ? "12" : hour >= 12 ? String(hour-12) : String(hour);
      const formattedMinute = String(minute).padStart(2, "0");
      const ampm = hour < 12 ? "am" : "pm";
      timeSlots.push(`${formattedHour}:${formattedMinute} ${ampm}`);
    }
  }
}
var shouldDisplayImage = channel && channel.short_name === "WTTWDT" ? true : false;

function getContainerClasses (show:Show, index: number): string {
  var returnClasses = "";

  if (index == 0 && listings[0].start_time !== "0000"){
    returnClasses += "offset-minutes-" + Number(listings[0].start_time) + " ";
  }
  
  if (minuteClasses.includes(show.minutes)) {
    returnClasses += "minutes-" + show.minutes;
  }

  return returnClasses;
}  

function getContainerStyles(show:Show, index: number): string {
  var returnStyles = "";

  if (!minuteClasses.includes(show.minutes)) {
    returnStyles = `min-width: calc(var(--halfHourWidth) * ${show.minutes/30});`;
  }

  return returnStyles;
}  

---

{
  !channel && (
    <li>
      <ol class="channel">
        <div class="channel-name" />
        {timeSlots.map((timeSlot) => (
          <li class={"minutes-30"}>
            <div class="time">{timeSlot}</div>
          </li>
        ))}        
      </ol>
    </li>
  )
}
{
  channel && (
    <li>
      <ol class="channel">
        <div class="channel-name">{channel.full_name}</div>
        {listings.map((show, index) => (
          <li class={getContainerClasses(show, index)} style={getContainerStyles(show, index)}>
            <Listing listing={show} displayImage={shouldDisplayImage} />
          </li>
        ))}
      </ol>
    </li>
  )
}
<style>

  :root {
    --halfHourWidth: 150px;
  }

  .channel {
    display: flex;
    /* outline: solid 1px black; */
    outline: none;
    padding: 0;
    list-style: none;

    > li {
      outline: solid 1px black;
      padding: 0;
      list-style: none;
    }
  }

  .time {
    padding: .5rem;
  }

  .channel-name {
    min-width: var(--halfHourWidth);
  }

  .minutes-5 {
    min-width: calc(var(--halfHourWidth) / 6);
  }
  .minutes-10 {
    min-width: calc(var(--halfHourWidth) / 3);
  }
  .minutes-15 {
    min-width: calc(var(--halfHourWidth) / 2);
  }
  .minutes-30 {
    min-width: calc(var(--halfHourWidth) * 1);
  }
  .minutes-60 {
    min-width: calc(var(--halfHourWidth) * 2);
  }
  .minutes-90 {
    min-width: calc(var(--halfHourWidth) * 3);
  }
  .minutes-120 {
    min-width: calc(var(--halfHourWidth) * 4);
  }
  .minutes-150 {
    min-width: calc(var(--halfHourWidth) * 5);
  }
  .minutes-180 {
    min-width: calc(var(--halfHourWidth) * 6);
  }

  .offset-minutes-5 {
    margin-left: calc(var(--halfHourWidth) / 6);
  }
  .offset-minutes-10 {
     margin-left: calc(var(--halfHourWidth) / 3);
  }
  .offset-minutes-15 {
    margin-left: calc(var(--halfHourWidth) / 2);
  }
  .offset-minutes-30 {
    margin-left: calc(var(--halfHourWidth) * 1);
  }
  .offset-minutes-60 {
    margin-left: calc(var(--halfHourWidth) * 2);
  }


</style>
